 body {
      font-family: Arial,Helvetica, sans-serif;
      margin: 0;
      padding: 100;
      background-color: red;
      color: blue;
    }
p {
    color:white;
	}
h1 {
	color:yellow;
	}
	ul {
		list-style-type:square;
		width: 200px; 
		background-color: #f1f1f1;
		border: 10px solid #555555;
		
	}
	li {
		text-align:center;
	    border-bottom: 1px solid #555555;}
		
	li a {
		display:block;
		color:black;
		padding: 8px 16px;
		text-decoration: none;
	}
	
   